@use 'variables' as *;

.text{
    &--gray{
        color:$base-color;
    }

    &__header{
        font-size:32px;
        font-weight:400;
        text-shadow: 2px 2px 4px black;
        margin:8px 0px;
        letter-spacing: -1px;
        margin-top: 24px;

        @media (max-width:900px){ 
                font-size:20px;
        }

        &--white{
            color:pink;
        }
    }

    &--center{
        text-align:center;
    }
}

.layout-long{
    grid-row:1/5;
    -ms-grid-row:1/5;
}

.main-logo{
    max-width:400px;
    margin-top: 50px;
    margin-bottom: -25px;
}

.container{
    max-width:920px;
    width:100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: auto auto;
    -ms-grid-columns:auto auto;
    display: -ms-grid;

}

.agree{
    &__text{
        margin-left:15px;
        line-height: 1.2;
    }
}

.wrapper{
    max-width: 94%;
    margin: 0 auto;
}

@media (max-width:900px){ 
    .container{
        grid-template-columns:auto;
        -ms-grid-columns:auto;
    }

    .main-logo{
        max-width:calc(100% - 20px);
    }
}

@media (max-width:450px){ 
    .block__input-box--half{
        display: grid;
        grid-template-columns: auto;
        -ms-grid-columns:auto auto;
        display: -ms-grid;

        & > * {
            width:100%;
            max-width:100%;
            grid-column-start: 1;
            grid-column-end: 3;
            -ms-grid-column-start: 1;
            -ms-grid-column-end: 3;
        }
    }

    .button {
        max-width:none;
        width:100%;
        margin: 5px auto;
    }
}