@use 'variables' as *;

body{
    margin:0;
    padding:0;
    background-image:url('./img/background.jpg');
    background-repeat: no-repeat; 
    background-size:cover;
    font-family: 'Titillium Web', sans-serif;
}  

.block{

    &__with-img{
        margin:50px 0px;
    }

    &__agreement{
        display:grid;
        grid-template-columns: 23px auto;
    }

    &__input-content{
        position: relative;
        &:before{
            position: absolute;
            bottom: -1px;
            left: 0px;
            right: 0px;
            background-color: white;
            width: calc(100% - 2px);
            height: 10px;
            border-radius: 5px;
            content: "";
            z-index: 0;
            margin: 0 auto;
        }
        &--negative-top{
            margin-top:-10px;
        }

        &--no-border{
            border:none;
            &:before{
                display: none;
            }
        }

        &--no-background{
            background:transparent;
        }
    }

    &__input-box{
        display: grid;
        grid-template-columns: 60px auto;
        border:solid 1px $border-color;
        border-radius:3px;
        background-color:$background-input;
        grid-template-columns: 60px auto;
        margin: 21px 0px;
        z-index: 99;
        position: relative;
        height: 39px;

        &--half{
            grid-template-columns: auto auto;  
            justify-content: space-between;
        }

        &--one-column{
            grid-template-columns:auto;
            height: auto;
        }

        &--full{
            grid-template-columns: auto;
            margin: 12px 0px 16px 0px;
        }

        &--no-background{
            background:transparent;
        }

        &--no-border{
            border:none;
        }
    }

    &__icon{
        padding: 8px 15px;
        display: grid;
        justify-content: center;
        align-items: center;

        &--no-padding-left{
            padding-left:0;
        }
    }

    &__form{
        background-color: $background-block;
        border-radius:3px;
        padding:0px 23px;
        overflow: hidden;
    }
  
    &--center{
        text-align: center;
    }
    
    &--vertical-center{
        align-items:center;
    }

    &--6{
        max-width:420px;
        width:100%;
    }

    &--shadow{
        position: relative;
        padding: 20px 18px;
        &:after{ 
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            width:100%;
            z-index:-1;
            height:100%;
            border-radius:3px;
            background: rgba(0,0,0,0.23);
        }
    }
}

.text{
    &__header{
        font-size:32px;
        font-weight:400;
        text-shadow: 2px 2px 4px black;
        margin:15px 0px;
        &--white{
            color:white;
        }
    }

    &--center{
        text-align:center;
    }
}

.container{
    max-width:920px;
    width:100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: auto auto;
}

.agree{
    &__text{
        margin-left:15px;
    }
}