.button{
    font-size:24px;
    box-shadow: none;
    border-radius: 3px;
    outline: none;
    height: 48px;
    text-shadow: 1px 2px 1px #51850E;
    &--green{
        border:solid 1px $dark-green;
        background-image: linear-gradient($green-start, $green-end);
        color:white;
    }

    &--medium-text{
        width:140px;
        height: 41px;
    }

    &--red{
        border:solid 1px $red;
        color:white;
        background-image: linear-gradient($red-start, $red-end);
    }

    &--inactive{
        opacity: 0.36;;
    }

    &--short{
        max-width:100%;
        width:150px;
        font-size:18px;
        height: 41px;
    }

    @media (max-width:450px){ 
        max-width:none;
        width:100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}