$background-block:#F4F4F4;
$background-input:#F8F8F8;
$base-color: #AFAFAF;
$border-color:#C6C6C6;
$placeholder-color:#DEDEDE;
$green:#88C814;
$green-start :#88C814;
$green-end:#7EC31F;
$dark-green:#3A9A00;
$red:#A2202A;
$red-start:#F65E6F;
$red-end:#F03747;

